table {
    width: 100%;
    border-spacing: unset;
}
.header td{
    text-align: center;
}
.header td img{
    width: 50px;
    height: 50px;
}
.left select{
    margin-bottom: 15px;
    width: 150px;
}
.body td{
    border: 1px solid black;
    padding: 15px;
}
.body{
    height: 500px;
}
.left{
    width: 50px;
}